<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CLIENT CONNECT</title>

  <!--FONT AWESOME-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!--STYLESHEETS-->
  <link rel="stylesheet" href="/styles/style.css">
  
  <!--BOOTSTRAP-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <script type="javascript">
    function confirmation() {
      var answer = confirm("Is this a new client?")
      if(answer) {
        window.location = "localhost:8000/intakeForm"
      } else {
        window.location = "localhost:8000/clientList"
      }
    }
  </script>

  <%- include('partials/_sideBar') %>
</head>

<body>
  <!-- Dashboard Containers -->
  <div class="main">

    <!--Grid for Calendar and Client List-->
    <div class="calendar-client-box">
      <div id="calendar-box">
        <div class="content-box bg-white shadow-sm">
          <h4>TODAY</h4>
          <div>
            <button href="#">ADD</button>
          </div>
          <div>
            <%- include('partials/_calendar.ejs') %>
          </div>
        </div>
      </div>
      <div class="mb-3 col-xl-6" id="client-list-box">
        <div class="content-box bg-white shadow-sm">
          <h4>CLIENT LIST</h4>
          <div>
            <button onclick="confirmation()">ADD</button>
          </div>
          <%- include('partials/clientList.ejs') %>
        </div>
        <script type="javascript">
          function confirmation() {
            var ask = window.cofirm("Is this a new client?")
            if(ask) {
              window.location.href = "/intakeForm"
            } else {
              window.alert("Please reactivate client file from the client directory.")
            }
          }
        </script>
      </div>

    </div>

    <!-- Full box for ToDo list -->
    <div class="content-box mb-3 bg-white shadow-sm" id="todo-box">
      <h4>TO-DO</h4>
      <%- include('partials/toDos.ejs') %>
        <div>
          <button type="button" class="button" id="add-todo" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
            ADD
          </button>

          <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">NEW TODO</h5>
      </div>
      <div class="modal-body">
        <section class="new-todo">
          <p class="error-message"></p>
          <form class="new-todo-form">

            <label for="clients">Client</label>
            <input id="client" type="text" name="Client">

            <label for="todo-item">Item</label>
            <input id="todo-item" type="text" name="Todo-Item">

            <label for="todo_date">Date</label>
            <input type="date" id="todo-date" name="Todo-Date">

            <label for="appt">Time</label>
            <input type="time" id="appt" name="appt" min="07:00" max="18:00" required>

          </form>
        </section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="border: none; color: black; background-color: transparent;text-decoration: underline;">Close</button>
        <button type="submit" class="btn btn-primary" form="create_form" data-bs-dismiss="modal" style="background-color: black;">Create</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>




  </div>
</body>

</html>