<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CLIENT CONNECT</title>

  <!--FONT AWESOME-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!--STYLESHEETS-->
  <link rel="stylesheet" href="/styles/style.css">
  <!--BOOTSTRAP-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <%- include('partials/_sideBar') %>
</head>

<body>
  <!-- Dashboard Containers -->
  <div class="main">

    <!--Grid for Calendar and Client List-->
    <div class="row">
      <div class="mb-3 col-xl-6" id="calendar-box">
        <div class="content-box bg-white shadow-sm">
          <h4>TODAY</h4>
          <div>
            <button href="intakeForm">ADD</button>
          </div>
        </div>
      </div>
      <div class="mb-3 col-xl-6" id="client-list-box">
        <div class="content-box bg-white shadow-sm">
          <h4>CLIENT LIST</h4>
          <div>
            <button href="#">ADD</button>
          </div>
          <%- include('partials/clientList.ejs') %>
        </div>
      </div>

    </div>

    <!-- Full box for ToDo list -->
    <div class="content-box mb-3 bg-white shadow-sm" id="todo-box">
      <h4>TO-DO</h4>
      <%- include('partials/toDos.ejs') %>
        <div>
          <button>ADD</button>
        </div>
    </div>




  </div>
</body>

</html>