<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CLIENT CONNECT</title>

  <!--FONT AWESOME-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <!--STYLESHEETS-->
  <link rel="stylesheet" href="/styles/style.css">

  <%- include('partials/_sideBar') %>
</head>

<body>
  <div class="box">
    <div class="calendar-box"></div>
  </div>
  <div class="content">
    <p class="block">Welcome back!</p>
    <%- include('partials/clientList.ejs') %>
      <%- include('partials/toDos.ejs') %>

  </div>
</body>

</html>