<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>INTAKE FORM</title>

  <!--STYLESHEETS-->
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/intakeForm.css">

  <!--BOOTSTRAP-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!--FONT AWESOME-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!--SIDE BAR-->
  <%- include('partials/_sideBar') %>

</head>
<body>
  <form id="intake-form">
  <div class="new-client-form">
    <h1>INTAKE FORM</h1>
        <label for="name">Full Name</label>
        <input id="name" type="text" name="Name">

        <label for="name">Age</label>
        <input id="name" type="text" name="Age">

        <label for="phone">Phone</label>
        <input id="phone" type="text" name="Phone">

        <label for="email">Email</label>
        <input id="email" type="email" name="Email">

        <div class="housed">
        <label for="housed">Housed?</label>
        <div class="custom-select" style="width:400px;">
            <select>
              <option value="0">Select One</option>
              <option value="1">YES</option>
              <option value="2">NO</option>
            </select>
        </div>
      </div>

      <label for="address">Address</label>
      <input id="address" name="Address">

      <label for="locations">Known Locations</label>
      <input id="locations" type="text" name="Locations">

      <label for="citizenship">Citizenship</label>
      <input id="citizenship" type="text" name="Citizenship">

      <div class="dependents">
        <label for="dependents">Dependents?</label>
        <div class="custom-select" style="width:400px;">
          <select>
            <option value="0">Select One</option>
            <option value="1">YES</option>
            <option value="2">NO</option>
          </select>
        </div>
      </div>
      <label for="dependents-list">List of Dependents</label>
      <input id="dependents-list" type="text" name="List-of-Dependents">

      <div class="resources">
        <h4>Resources</h4>
        <div class="form-check" id="checkbox-container">
        <input type="checkbox" id="counselling" value="Counselling">
        <label for="counselling">Counselling</label>
        <input type="checkbox" id="housing" value="Housing">
        <label for="housing">Housing</label>
        <input type="checkbox" id="legal" value="Legal">
        <label for="legal">Legal</label>
        <input type="checkbox" id="addictions" value="Addictions">
        <label for="addictions">Addictions</label>
        <input type="checkbox" id="child-care" value="Child-Care">
        <label for="child-care">Child Care</label>
        <input type="checkbox" id="shelter" value="Shelter">
        <label for="shelter">Shelter</label>
        <input type="checkbox" id="career" value="Career">
        <label for="career">Career</label><br>
      </div>
      </div>

      <label for="applied_date">Application Date</label>
      <input type="date" id="applied-date" name="Applied-Date">

      <div class="submit">
        <input class="button-primary" type="submit" value="Create File" />
      </div>
    </form>
  </div>
</body>
<script>
  const newClientForm = document.getElementById("intake-form");

  newClientForm.addEventListener('submit', function(event) {
  event.preventDefault();
    var request = new XMLHttpRequest();
    var url = '/clientList';
    request.open('POST', url, true);
    request.setRequestHeader('Content-Type', 'application/json');
    request.onreadystatechange = function () {
        if (request.readyState === 4 && request.status === 200) {
            var jsonData = JSON.parse(request.response);
            console.log(jsonData);
        }
    };
});
</script>
</html>