<!--  SIDE BAR NAVIGATION -->
<div class="sidenav">
  <a href="#">DASHBOARD</a>
  <a href="#">CLIENTS</a>
  <a href="#">RESOURCES</a>
  <a href="#">CALENDAR</a>
  <a href="#">MAIL</a>
</div>

<!-- Page content -->
<div class="main">
  ...
</div>