<!-- Sidebar -->
<link href="/sidebar.css">

<div class="grid-container">
  <div class="sidebar">
      <button>
          LOGO
      </button>
      <dl class="menu">
        <dt><a href="#">DASHBOARD</a></dt>
        <dt><a href="#">CLIENTS</a></dt>
        <dt><a href="#">RESOURCES</a></dt>
        <dt><a href="#">EMAIL</a></dt>
        <dt><a href="#">CONTACTS</a></dt>
      </dl>
  </div>
  <div class="main-content"></div>
</div>