<!--  SIDE BAR NAVIGATION -->
<div class="sidenav">
  <i class="fa-solid fa-hand-holding-heart"></i>
  <a href="#">DASHBOARD</a>
  <a href="#">CLIENTS</a>
  <a href="#">RESOURCES</a>
  <a href="#">CALENDAR</a>
  <a href="#">MAIL</a>
</div>
