<div class="content">
  <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Flag</th>
      </tr>

    <% for (let i=0; i < result.rows.length; i++){ %>
      <tr>
        <td>
          <%= result.rows[i].name %>
        </td>

        <td>
          <%= result.rows[i].email %>
        </td>

        <td>
          <%= result.rows[i].phone %>
        </td>

        <td>
          <%= result.rows[i].isflagged %>
        </td>
    </tr>
      <% } %>
  </table>
</div>