<div class="col-sm-8 text-left">

  <table class="table" id="table_id" class="display">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Application date</th>
        <th>Status</th>
    </thead>
    </tr>

    <% for (let i=0; i < result.rows.length; i++){ %>
      <tr>
        <td>
          <%= result.rows[i].name %>
        </td>
        <td>
          <%= result.rows[i].age %>
        </td>

        <td>
          <%= result.rows[i].applied_at %>
        </td>
        <td>
          <%= result.rows[i].status %>
        </td>
      </tr>
      <% } %>
  </table>
</div>