<P>Client List</P>

<li>
  <div style="color: white" class="content">
    <ul>
      <% if (result) { %>
        <li>
          <%= result.rows[0].name %>
        </li>
        <% } %>
    </ul>
  </div>
</li>