<% for (let i=0; i < result.rows.length; i++){ %>

  <tr>
    <th>
      Provided Resource Type
    <td>
      <%= result.rows[i].resource_type %>
    </td>
    <td>
      <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip"
          title="Edit">&#xE254;</i></a>
    </td>
    </th>
  </tr>
  <tr>
    <th>
      Provider's Phone number
    <td>
      <%= result.rows[i].provider_phone %>
    </td>
    <td>
      <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip"
          title="Edit">&#xE254;</i></a>
    </td>
    </th>
  </tr>
  <tr>
    <th>
      Provider's Email Address
    <td>
      <%= result.rows[i].provider_email %>
    </td>
    <td>
      <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip"
          title="Edit">&#xE254;</i></a>
    </td>
    </th>
  </tr>
  <tr>
    <th>
      Provider's Address
    <td>
      <%= result.rows[i].provider_address %>
    </td>
    <td>
      <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip"
          title="Edit">&#xE254;</i></a>
    </td>
    </th>
  </tr>
  <% } %>