<div id="map"></div>

<script src="/scripts/resourcesforclientmap.js">

</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLvOmk6IlwoLnFGPKmz8DfJFoISK7Y3O8&callback=initMap"></script>
