<div class="col-sm-8 text-left">

  <table class="table" id="table_id" class="display">

    <thead>
      <tr>
        <th>Client</th>
        <th>Todo</th>
        <th>Date</th>
        <th>Time</th>
        <th>Completed?</th>
    </thead>
    <tbody id="to-do-container">
    
      </div>
    </tbody>

  </table>
</div>