<p>To Dos</p>
<li>
  <div style="color: white" class="content">
    <ul>
      <% if (result1) { %>
        <li>
          <%= result1[0].comment %>
        </li>
        <% } %>

    </ul>
  </div>
</li>