body {
  margin-left: 180px;
}

.new-client-form{
	max-width: 800px;
	padding: 20px 12px 10px 20px;
	font: 13px Arial, Helvetica, sans-serif;
}

.new-client-form label{
	display: block;
	margin: 0px 0px 15px 0px;
}
.new-client-form label > span{
	width: 100px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}
.new-client-form span.required{
	color:#E63946;
}
.new-client-form .tel-number-field{
	width: 40px;
	text-align: center;
}
.new-client-form input.input-field, .new-client-form .select-field{
	width: 48%;	
}
.new-client-form input.input-field, 
.new-client-form .tel-number-field, 
.new-client-form .textarea-field, 
 .new-client-form .select-field{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
}
.new-client-form .input-field:focus, 
.new-client-form .tel-number-field:focus, 
.new-client-form .textarea-field:focus,  
.new-client-form .select-field:focus{
	border: 1px solid #A8DADC;
}
.new-client-form .textarea-field{
	height:100px;
	width: 55%;
}
.new-client-form input[type=submit],
.new-client-form input[type=button]{
	border: none;
	padding: 8px 15px 8px 15px;
	background: #1D3557;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.new-client-form input[type=submit]:hover,
.new-client-form input[type=button]:hover{
	background: #457B9D;
	color: #fff;
}

/* CHECK BOX STYLING*/

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
