body {
  margin-left: 180px;
}
.container {
  width:100%

}

#map {
  height: 400px;
}

#map-container {
  margin-bottom: 10px;
}

/* NEW Resource Modal */
/* Modal Body*/
.new-resource-modal {
  visibility: hidden;
  }

/* Modal Content*/
.new-resource-input {
  visibility: hidden;
}

form .new-resource-form {
  display:none;
}

  input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
  }

div .dataTables_wrapper.no-footer {
  width: 100%
}

/* Row Highlighting */
tbody #resources tr:nth-child(even){background-color: #f2f2f2;}
tbody #resources tr:hover {background-color: #ddd;}
